$button: #ccc;
$default: #929292;
$bg-default: #f5f5f5;
$border: #ccc;
$primary-border: #afd6f5;
$button-primary: #3ba1f5;
$button-secondary: #c235c7;
$all-border: 1px solid $border;
$all-border-primary: 1px solid $primary-border;
$shadow: #dadada;
$pressed: #eeeeee;
$pressed-color: #9e9e9e;
$extend-width: 60px !important;
$extend-2x-width: 120px !important;

// ICON SIZE
$fontSize: 13px !important;
$iconPadding: 8px !important;

// DEFAULTS
.hide {
  display: none;
}

.pressed {
  background-color: $pressed !important;
  box-shadow: inset -15px -15px 15px -8px $shadow !important;
}
.extent-width {
  width: $extend-width;
  overflow: hidden;
}
.extent-2x-width {
  width: $extend-2x-width;
  overflow: hidden;
}

select::-webkit-scrollbar {
  width: 5px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}

select {
  scrollbar-width: thin;
}
.border-bottom {
  border-bottom: 1px solid $default;
  margin-bottom: 2rem;
}

.visual-weaver-fullscreen {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 999 !important;
}

// DEFAULTS

.visual-weaver {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;
  background-color: #f3f3f3;

  .editor-head {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border: 1px solid $border;
    gap: 1rem;

    .toolbar {
      display: flex;
      border: $all-border;

      .vwbtn {
        position: relative;
        display: block;
        border-radius: 0;
        width: 2.2rem;
        height: 100%;
        text-align: center;
        cursor: pointer;
        border: none;
        transition: all 0.2s ease;
      }

      .vwbtn-default {
        color: $default;
      }

      & button:nth-child(n),
      select:nth-child(n) {
        background-color: $bg-default;
        box-shadow: 4px 4px 8px 0px $border;
        font-size: $fontSize;
        padding: $iconPadding;

        &:focus {
          background-color: $pressed;
          box-shadow: inset -15px -15px 15px -8px $shadow;
          color: $pressed-color;
          transition: all 0.2s ease;
        }
      }

      & button:nth-child(n):not(button:last-child),
      select:nth-child(n):not(select:last-child) {
        border-right: 1px solid $border;
      }
    }

    .text-face {
    }
  }
  .editor-body {
    position: relative;
    padding: 1rem;
    border: $all-border;
    overflow: auto;
    display: block;

    &:focus-visible {
      box-shadow: 0 0 0 2px $primary-border;
      outline: none;
    }
  }

  .resizer-editor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 0.5rem;
    background-color: #00000033;
    z-index: 9999;
    cursor: n-resize;
  }

  //   TEXT SIZER FAMILY
  .text-sizer-family {
    position: relative;

    & select {
      max-width: fit-content;
      & option {
        font-size: 12px;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }

  //   TABLE CREATOR
  .text-table {
    position: relative;

    & .popup-view {
      position: relative;
      width: auto;

      & .table-inputs {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 20%);
        width: 16rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid $border;
        background-color: $bg-default;
        display: flex;
        text-align: center;
        gap: 0.5rem;
        z-index: 9999;

        & input {
          background-color: transparent;

          &::placeholder {
            font-size: 12px;
          }
        }

        button {
          background-color: $button-primary;
          box-shadow: none;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 60%;
  height: max-content;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 15px #00000033;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  .close-btn {
    position: relative;
    display: flex;
    width: 2rem;
    aspect-ratio: 1;
    background-color: $button-primary;
    border-radius: 50%;
    cursor: pointer;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
  .modal-main-contents {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .input-file {
      position: relative;
      border: 1px solid $border;
      border-radius: 0.3rem;
      height: 2.5rem;
      padding: 0.5rem;
      cursor: pointer;

      span {
        position: absolute;
        color: #3d3d3d;
        display: flex;
        padding-left: 1rem;
        width: auto;
        z-index: -1;
        cursor: pointer;
      }
      &:hover {
        border: 1px dashed $button-primary;
      }
    }

    & input[type="file"] {
      opacity: 0;
      width: 100%;
      height: inherit;
      cursor: pointer;
    }
  }
  .preview {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
  opacity: 0;
  visibility: hidden;
  //   transition: all 0.3s ease-in-out;
  z-index: 9999;

  &.active {
    opacity: 1;
    display: block;
    visibility: visible;
  }
}

/* Tooltip Styling */
.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 98%;
    transform: translateX(-50%);
    width: 0.8rem;
    aspect-ratio: 1;
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
